*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

nav{
    background-color: #1E2022;
}

.background-color{
    background-color: #1E2022;
}

section{
    background-color: #1E2022;
}

.h1-logo{
    align-items: center;
}

.img-copy{
    width: 20px;
    margin-left: 5px;
    height: 25px;
    width: 25px;
}

.card {
    width:30%;
    background: rgb(40,40,55);
    background: linear-gradient(344deg, rgba(40,40,55,1) 0%, rgba(16,16,18,1) 50%);
    box-shadow: 4px 6px 14px #00000036;
    border-radius: 3px;
    color: #F9F9F9;
    padding: 16px;
    transition: all .3s;
   }
   
   .card:hover {
    margin-top: -25px;
   }

   .card-item{
    margin: 15px;
   }

   @media (max-width: 576px) {
    
.card{
    width: 80%;
}

.card2{
display: flex;
justify-content: center;
} 

.navbar-toggler-icon{
    background-color: #36383a;
    margin-top: 0px;
    padding: 20px;
    border-radius: 5px;
}
   }