$color-fuente: #F9F9F9;
$color-fondo1: #111212;
$color-fondo2: #151617;
$bg-footer: #1d1b1a;
$hover-h1: #d4ae88;
$padding: 16px;
$heightins:600px;
$fuente1: 'Quicksand', sans-serif;
$vista: mobile;
$vista-t: tablet;

@mixin backgroundfoo() {
    background-color: #111212;
}

$estilos: (
    centrado:center,
);

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: $fuente1;
}

.card {
    text-align: map-get($map: $estilos, $key: centrado);
    background-color: map-get($map: $estilos, $key: color);
}

body {
    background-image: url(../assets/Fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    @if ($color-fuente ==#F9F9F9) {
        background-color: #121112;
    }
}

footer {
    @include backgroundfoo();
}

header {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 10;
}

// nesting o anidacion

section {

    div {
        padding: 20px;

        h2 {
            color: $color-fuente;
        }
    }
}

h1 {
    transition: all 0.2s;
    color: $color-fuente;
}

.img-instalacion{
    height: $heightins;
}

// Through incluye el numero final

// @for $i from 1 through 5{
//     h#{$i}{
//         font-size: $i * 2px;
//     }

// }

// To no incluye el numero final

// @for $i from 1 to 5{
// h#{$i}{
//     font-size: $i * 3;
// }


// }


h1:hover {
    color: $hover-h1;
}

.nav-link {
    transition: all 0.2s;
    color: $color-fuente;
}

.nav-link:hover {
    transform: scale(1.10);
    color: $color-fuente;
}

.background-color {
    background-color: $color-fondo2;
}

.h1-logo {
    align-items: center;
}

.img-copy {
    width: 20px;
    margin-left: 5px;
    height: 25px;
    width: 25px;
}

.p-align {
    text-align: center;
}

.card {
    width: 30%;
    background: rgb(40, 40, 55);
    background: linear-gradient(344deg, rgba(40, 40, 55, 1) 0%, rgba(16, 16, 18, 1) 50%);
    box-shadow: 14px 16px 14px #00000036;
    border-radius: 5px;
    color: $color-fuente;
    padding: $padding / 4;
    transition: all .3s;
}

.card:hover {
    margin-top: -25px;
}

.card-item {
    margin: 15px;
}

.background-footer {
    background-color: $bg-footer;
}

.cardd {
    display: flex;
    justify-content: center;
}

.h2-back {
    background-color: $bg-footer;
}

body {
    @if ($vista ==mobile) {
        @media (max-width: 576px) {

            .card {
                width: 80%;
            }

            .card:hover {
                margin-top: 0px;
                transform: scale(1.05);
            }

            .card2 {
                display: flex;
                justify-content: center;
            }

            .navbar-toggler-icon {
                background-image: url(../assets/icons8-menú-30.png);
                margin-top: 0px;
                padding: 10px;
                border-radius: 5px;
            }

            .nav-link {
                text-align: center;
            }

            .navbar-toggler {
                margin-left: 10px;
                margin-top: -2px;
            }

            .p-align {
                text-align: center;
            }

        }
    }

    @if ($vista-t ==tablet) {
        @media (max-width: 992px) {

            .card {
                width: 80%;
            }

            .card:hover {
                margin-top: 0px;
                transform: scale(1.05);
            }

            .card2 {
                display: flex;
                justify-content: center;
            }

            .navbar-toggler-icon {
                background-image: url(../assets/icons8-menú-30.png);
                margin-top: 0px;
                padding: 10px;
                border-radius: 5px;
            }

            .nav-link {
                text-align: center;
            }

            .navbar-toggler {
                margin-left: 10px;
                margin-top: -2px;
            }

            .p-align {
                text-align: center;
            }

        }
    }
}